In [10]:
import pandas as pd
from sqlalchemy import create_engine, inspect
from config import user, password, db_name

### Extract

In [5]:
# Import CSV with AirBnB data
csv_file = "Resources/listings.csv"
airbnb_data_df = pd.read_csv(csv_file)
airbnb_data_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,"Hyde Park - Walk to UChicago, 10 min to McCormick",2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,60,2,178,2019-12-15,2.56,1,353
1,4505,394 Great Reviews. 127 y/o House. 40 yds to tr...,5775,Craig & Kathleen,NaN,South Lawndale,41.85495,-87.69696,Entire home/apt,105,2,395,2020-07-14,2.81,1,155
2,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90289,-87.68182,Entire home/apt,60,2,384,2020-03-08,2.81,1,321
3,9811,Barbara's Hideaway - Old Town,33004,At Home Inn,NaN,Lincoln Park,41.91769,-87.63788,Entire home/apt,65,4,49,2019-10-23,0.63,9,300
4,10610,3 Comforts of Cooperative Living,2140,Lois,NaN,Hyde Park,41.79612,-87.59261,Private room,21,1,44,2020-02-14,0.61,5,168

### Transform

In [ ]:
# Make the column names lowercase
df.columns = df.columns.str.lower()

# Replace spaces in column names with underscores
df.columns = df.columns.str.replace(' ', '_')

# Rename Columns
df = df.rename(columns={"OLD NAME": "new_name", "OLD NAME2": "new_name_2"})

# Drop duplicates in column before turning it into the index
df.drop_duplicates("column", inplace=True)
df.set_index("column", inplace=True)

# Choose columns to retain
preferred_columns = ["keep", "these", "columns"]
df_transformed = df[preferred_columns].copy()

### Load

In [11]:
# Create database connection
rds_connection_string = f"{user}:{password}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [12]:
# Check for tables
inspector = inspect(engine)
print(inspector.get_table_names())

[]

In [ ]:
# Load CSV converted DataFrame into database
df.to_sql(name='table_name', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select * from table_name', con=engine).head()